<H1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
* ggplot2
* Matplotlib
* Pandas

| Data Science Tools |
|:------------------:|
|GitHub              |
|Apache Spark        |
|TensorFlow          |

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = 2+2
print(a)
b = 2*2
print(b)
c = 2-2
print(c)

4
4
0

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
mins_to_hours = 200 / 60
print(mins_to_hours,'hours')

3.3333333333333335 hours

# Objectives:
    . List popular languages for Data Science
    . List commonly used libraries used by Data Scientists
    . Examples of evaluating arithmetic expressions in Python

<H2> Author


Jen Roberts